.container {
  height: 100vh;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkred;
}

.icon-input {
  margin: 40px auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 5px 10px;
  outline: none;
}

.icon-input > input {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

.display-container {
  display: flex;
  justify-content: center;
  background: blue;
  line-height: 0;
}

.on {
  color: gold;
}

.off {
  color: white;
}

.icon {
  margin: 0px 5px;
  cursor: pointer;
  font-size: 2rem;
}

/* .icon:hover {
  color: black;
} */
