.container {
  height: 100vh;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-input {
  margin: 40px auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 5px 10px;
  outline: none;
}

.icon-input > input {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid yellow;
}

.icon {
  padding: 0px 5px;
  cursor: pointer;
  font-size: 1.5rem;
  /* color: yellow; */
}
