.folder {
  margin-top: 6px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 300px;
  cursor: pointer;
}

.folder > span {
  margin: 0 5px 2px 0;
}

.file {
  margin-top: 5;
  padding-left: 5;
  display: flex;
  flex-direction: column;
}

.btn-container > button {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid #000;
}

.btn-container > button:hover,
.btn-coontainer > button:active {
  background: #e5e2e2;
}
